[submodule "vim/bundle/Airline"]
	path = vim/bundle/Airline
	url = https://github.com/bling/vim-airline
  ignore = dirty
[submodule "vim/bundle/MultipleCursors"]
	path = vim/bundle/MultipleCursors
	url = https://github.com/terryma/vim-multiple-cursors
  ignore = dirty
[submodule "vim/bundle/QuickBuf"]
	path = vim/bundle/QuickBuf
	url = https://github.com/vim-scripts/QuickBuf
  ignore = dirty
[submodule "vim/bundle/NERDtree"]
	path = vim/bundle/NERDtree
	url = https://github.com/vim-scripts/The-NERD-tree
  ignore = dirty
[submodule "vim/bundle/CtrlP"]
	path = vim/bundle/CtrlP
	url = https://github.com/vim-scripts/ctrlp.vim
  ignore = dirty
[submodule "vim/bundle/MatchIt"]
	path = vim/bundle/MatchIt
	url = https://github.com/vim-scripts/matchit.zip
  ignore = dirty
[submodule "vim/bundle/tComment"]
	path = vim/bundle/tComment
	url = https://github.com/vim-scripts/tComment
  ignore = dirty
[submodule "vim/bundle/TagList"]
	path = vim/bundle/TagList
	url = https://github.com/vim-scripts/taglist.vim
  ignore = dirty
[submodule "vim/bundle/UltiSnips"]
	path = vim/bundle/UltiSnips
	url = https://github.com/SirVer/ultisnips
  ignore = dirty
