extends cpp

snippet start
void setup() {
	Serial.begin(9600);
}

void loop() {
	${1:${VISUAL}}
}
endsnippet

snippet print
Serial.print(${0:${VISUAL}});
endsnippet

snippet println
Serial.println(${0:${VISUAL}});
endsnippet
