[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=keyboard
Comment=
Exec=~/bin/keyboard.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

